/*Версия файла 2.5*/

/*######################################### CSS-сброс от Эрика Майера #########################################*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block; /* делаем элементы блочными (для старых браузеров) */
}

body {line-height: 1; /* межстрочный интервал текста на странице */}

ol,ul {list-style: none}

blockquote:before,blockquote:after,
q:before,q:after {
    content: ''; /* Убираем кавычки у Q и BLOCKQUOTE */
    content: none; /* добавляем для верности */
}
blockquote,q {quotes: none; /* еще один способ убрать кавычки */}
table {border-collapse: collapse; border-spacing: 0}

/*############################################### Базовые стили ###############################################*/
body {
    /*font: 0.84em/1.4 Arial, Helvetica, Verdana, Tahoma, sans-serif;*/
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    
    margin: 0.6em 0;
    font-weight: bold;
	
}
h1 {font-size: 39px}
h2 {font-size: 1.1em}
h3 {font-size: 0.9em}
h4 {font-size: 1.4em}
h5 {font-size: 1.2em}
h6 {font-size: 1em}

img{border: none}

input{vertical-align: middle}
input[type=text], input[type=password], input[type=email], textarea{
    background-color: white;
    border: solid 1px #777;
    padding: 2px;
}

strong{font-weight: bold}
em{font-style: italic}

a {color: #ffffff;
    text-decoration: none !important;
	}
	
a:hover {color: #ffffff;
    text-decoration: none !important;
	text-shadow: white 5px 3px 4px; /* Тень белого цвета */}

b{font-weight: bold}
p{margin-bottom: 0.9em}

hr{height: 1px; border: none; background-color: #888}