/* Стили сайта ----------------------------*/

body {
  width: 100%;
  height: 100%;	
  margin: 0 auto;
  text-align: center;
}

.content{
  min-width: 1200px;
  max-width: 1900px;
  height: 100%;
  margin: 0 auto; 
}

/* Шапка ---------------------------*/

.masthead {
  min-height: 750px;
  margin: 0 auto; 
  background-image: url(../images/headerfon.jpg);
  background-repeat: no-repeat;
}

header {
  height: 100px;
  width: 1170px;
  margin: 0 auto; 
  border-bottom: solid 1px #666883;
}

.logo {
  display: inline-block;
  float: left;
  width: 189px;
  height: 26px;
  margin-top: 40px;
  background-image: url(../images/activebox.png);
  background-repeat: no-repeat;
}
   
.top-menu {
  display: inline-block;
  float: right;
  height: 26px;
  width: 600px;
  padding-top: 45px;
  color: #ccccd3;
}
    
.top-menu a {
  height: 25px;
  float: right;
  padding-left: 48px;
  margin: 0 auto;
  font-size: 13px;
  text-transform: uppercase;
  color: #ccccd3;
  font-family: 'Raleway Bold', arial;
}

.text-1 {
  position: relative;
  top: 150px;
  width: 865px;
  margin: 0 auto;
  color: #ffffff; 
  font-size: 65px;
  text-transform: uppercase; 
  text-align: center;
  font-family: 'Open Sans Bold', arial;
}

.text-2 {
  position: relative;
  top: 180px;
  width: 925px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.5;
  color: #ffffff; 
  text-align: center;  
  font-family: 'Raleway Regular', arial;
}

.button-find {
  top: 260px;
  position: relative;
  width: 200px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 200px;
  height: 50px;
  font-size: 0.8rem;
  background-color: #e84545;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-family: 'Open Sans Semibold', arial;
}

main{
  min-width: 1200px;
  max-width: 1900px;
  height: 100%;
  margin: 0 auto; 
}


/* Особенности ---------------------------*/

.features {
  width: 1170px;
  min-height: 695px;
  margin: 0 auto;
  text-align: center;
}

.feat1 {
  display: inline-block;
  width: 370px;
  min-height: 185px;
  text-align: center; 
  margin: 115px 0 35px 0;
}

.feat-icon-1 {
  width: 79px;
  height: 60px;
  background: url(../images/feat-icons.png) 0 0;
  margin: 0 auto;
  text-align: center; 
}

.feat-icon-1:hover {
  opacity: 0.5;  
}

.feat1 h3 {
  padding: 25px 0 15px 0;
  font-size: 14px;
}

.feat1 p {
  font-size: 14px;
  line-height: 1.5;
  color: #aaadb1;
  padding: 0 20px 0 20px;
  font-family: 'Raleway Regular', arial;
}

.feat2 {
  display: inline-block;
  width: 370px;
  min-height: 185px;
  text-align: center; 
  margin: 115px 20px 35px 20px;
}

.feat-icon-2{
  width: 79px;
  height: 60px;
  background: url(../images/feat-icons.png) 0 -60px;
  margin: 0 auto;
  text-align: center;
}

.feat-icon-2:hover {
  opacity: 0.5; 
}

.feat2 h3 {
  padding: 25px 0 15px 0;
  font-size: 14px;
}

.feat2 p {
  font-size: 14px;
  line-height: 1.5;
  color: #aaadb1;
  padding: 0 20px 0 20px;
  font-family: 'Raleway Regular', arial;
}


.feat3 {
  display: inline-block;
  width: 370px;
  min-height: 185px;
  text-align: center; 
  margin: 115px 0 35px 0;
}

.feat-icon-3 {
  width: 79px;
  height: 60px;
  background: url(../images/feat-icons.png) 0 -120px;
  margin: 0 auto;
  text-align: center; 
}

.feat-icon-3:hover {
  opacity: 0.5; 
}

.feat3 h3 {
  padding: 25px 0 15px 0;
  font-size: 14px;
}

.feat3 p {
  font-size: 14px;
  line-height: 1.5;
  color: #aaadb1;
  padding: 0 20px 0 20px;
  font-family: 'Raleway Regular', arial;
}

.feat4 {
  display: inline-block;
  width: 370px;
  min-height: 185px;
  text-align: center; 
  margin: 0 0 95px 0;
}

.feat-icon-4 {
  width: 79px;
  height: 60px;
  background: url(../images/feat-icons.png) 0 -180px;
  margin: 0 auto;
  text-align: center; 
}

.feat-icon-4:hover  {
  opacity: 0.5;  
}

.feat4 h3 {
  padding: 25px 0 15px 0;
  font-size: 14px;
}

.feat4 p {
  font-size: 14px;
  line-height: 1.5;
  color: #aaadb1;
  padding: 0 20px 0 20px;
  font-family: 'Raleway Regular', arial;
}

.feat5 {
  display: inline-block;
  width: 370px;
  min-height: 185px;
  text-align: center; 
  margin: 0 20px 95px 20px;
}

.feat-icon-5 {
  width: 79px;
  height: 60px;
  background: url(../images/feat-icons.png) 0 -240px;
  margin: 0 auto;
  text-align: center; 
}

.feat-icon-5:hover  {
  opacity: 0.5; 
}

.feat5 h3 {
  padding: 25px 0 15px 0;
  font-size: 14px;
}

.feat5 p {
  font-size: 14px;
  line-height: 1.5;
  color: #aaadb1;
  padding: 0 20px 0 20px;
  font-family: 'Raleway Regular', arial;
}

.feat6 {
  display: inline-block;
  width: 370px;
  min-height: 185px;
  text-align: center; 
  margin: 115px 0 35px 0;
}

.feat-icon-6 {
  width: 79px;
  height: 60px;
  background: url(../images/feat-icons.png) 0 -300px;
  margin: 0 auto;
  text-align: center; 
}

.feat-icon-6:hover {
  opacity: 0.5; 
}

.feat6 h3 {
  padding: 25px 0 15px 0;
  font-size: 14px;
}

.feat6 p {
  font-size: 14px;
  line-height: 1.5;
  color: #aaadb1;
  padding: 0 20px 0 20px;
  font-family: 'Raleway Regular', arial;
}

/*Работы-------------------- */

.works {
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-color: #d44040;
}

.work {
  display: inline-block;
  float: left; 
  width: 25%;
  height: 50%;
  outline: 1px solid #dcd2cd; 
  overflow: hidden;
}

.work :hover {
  opacity: 0.5;
}

/* Команда ---------------------------*/

.team {
  display: block;
  margin: 90px auto 130px;
  height: 100%;
  width: 100%; 
  text-align: center;
  background-color: #ffffff;
}

.team-block {
  display: inline-block;
  width: 270px;
  padding: 5px 12px 0 12px;
}


.team-h2 {
  text-align: left;
  padding: 15px 0 0 0;
  font-size: 22px;
  color: #737577;
  font-family: 'Raleway Regular', arial;
}

.team-h3 {
  color: red;
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Raleway Regular', arial; 
}

.team-paragraf {
  text-align: left;
  padding: 15px 0 25px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #a7aaaf;
  font-family: 'Raleway Regular', arial;
}

.team-social-icons {
  display: inline-block;
  width: 128px;
  float: left;
}

.team-social-icons .facebook {
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/team-icons.png);
  background-position: left;
  overflow: hidden;
}

.team-social-icons .tvitter { 
  width: 40px;
  height: 40px;
  padding-left: 8px; 
  float: left;
  background: url(../images/team-icons.png);
  background-position: center;
  overflow: hidden;
}

.team-social-icons .instagram { 
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/team-icons.png);
  background-position: right;
  overflow: hidden;
}

.team-social-icons a:hover {
  opacity: 0.5;
}

/* Подвал ----------------------------*/

footer {
  position: relative;
  width: 100%; 
  min-height: 255px;
  background-color: #3a3e64;
}

.contacts {
 width: 1170px; 
 margin: 0 auto;
}

.location {
  display: inline-block;
  width: 325px;
  margin: 60px 30px;
  text-align: center;
  vertical-align: top;
  z-index: 5;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Raleway Bold', arial;
}

.location p {
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  padding: 5px 0 0 0;
  line-height: 1.5;
  font-family: 'Raleway Regular', arial;
}

 .location nav {
  display: inline-block;
  width: 128px;
  height: 40px;
  padding: 10px 0 0 0;
}

.location nav .facebook {
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/foot-icons.png);
  background-position: left;
  overflow: hidden;
}

.location nav .tvitter { 
  width: 40px;
  height: 40px;
  padding-left: 8px; 
  float: left;
  background: url(../images/foot-icons.png);
  background-position: center;
  overflow: hidden;
}

.location nav  .instagram { 
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/foot-icons.png);
  background-position: right;
  overflow: hidden;
}

.thin-block {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.copyright {
  position: relative;
  min-height: 100px;
  width: 100%;
  text-align: center;
  background-color: #313454;
  color: #5b5d6b;
  font-size: 10px; 
}

.copyright p {
  display: inline-block;
  min-height: 45px;
  padding: 26px;
  width: 345px;
  color: #5b5d6b;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Raleway Regular', arial;
}

.copyright p span {
    color: #ff0000;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: white 5px 3px 4px; /* Тень белого цвета */
}

/* Download --------------------------------*/

  *{
    box-sizing: border-box;
  }

  section{
    display: block;
  }

  a{
    text-decoration: none;
  }

  .section {
    padding: 100px 0;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container:before{
    display: table;
    content: " ";
  }

  .container:after{
    display: table;
    content: " ";
    clear:both;
  }

  .text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }
